*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;    

}

h1{
    margin-bottom: 50px;
    margin-top: 0;
    height: 150px;
    font-size: 4em;
    font-weight: bolder;
    letter-spacing: 5px;
    text-shadow: 5px 5px 10px black;
    padding-top: 50px;
    color: rgb(255, 65, 31);
    background: url(./pattern.png);

}
p{
    margin: 50px 0;
}
table{
    font-size: 2.5em;
    text-align: center;
    margin: auto;
    width: 60%;
    height: 200px;

}

thead{

    font-weight: 800;
}

#total, #active, #recovered, #deaths{
    display: inline-block;
    padding-top: 25px;
    width: 180px;
    height: 80px;
    border: 2px solid red;
    border-radius: 10px;
}

#bChart, #doubleChart{
    display: inline-block;
    width: 45%;
    margin: 1em auto;
    font-size: 2em;
    font-weight: 300;
}
#series_chart_div{
    padding: 0;
    margin: 20px;
    width: 95%;
    height: 600px;
    border: 3px solid sandybrown;
    border-radius: 20px;
}
#bubbleBorder{
    width: 60%;
    border: 3px solid rebeccapurple;
    border-right: 0;
    border-radius: 20px 0 0 20px;
}
.firstChartArea{
    display: flex;
    width: 95%;
    margin: 0 auto;
}
.dRateArea{
    border: 3px solid salmon;
    border-left: 0;
    border-radius: 0 20px 20px 0;
    padding: 10px;
    width: 50%;
}
#drateText{
    display: block;
    margin:0 auto ;
    padding-top: 1em;
    width: 90%;
    height: 50px;
    font-size: 2em;
    line-height: 1.3em;
    text-decoration:1px underline seagreen ;
}
.chartArea{
    height: 90%;
    display: flex;
    justify-content: flex-end;
    align-items: end;
}
#days{
    align-self: center;
    margin-top: 3em;
    border: 2px solid seagreen;
    border-right: 0;
    border-radius: 10% 0 0 10%;
    padding: 5px 20px 5px 5px;
    text-align: center;
    font-size: 2.5em;
}
#dRateChart{
    border: 2px solid salmon;
    padding: 10px;
    border-radius:5%;
    width: 80%;
    height: 420px;
}

.testing{
    width: 98%;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    margin: 50px auto;
}
#totalTested{
    border:6px solid #fa697c;
    border-right: 0;
    border-radius: 20px 0 0 20px ;
    width: 30%;
    text-align: left;
    padding-left:1em ;
    padding-top: 1em;
}
.testNo{
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 20px auto;
}

#st{
    color: #fa697c;
    font-size: 1.5rem;
    font-weight: 600;
    margin-left:20% ;
}
#testsDone{
    
    display: inline-block;
    padding-top: 3rem;
    color: #9b45e4;
    letter-spacing: 4px;
    font-size: 4rem;
    font-weight: 900;
}
#plus{
    color: green;
    display: inline-block;
    padding-top: 4rem;
    font-size: 1rem;
    font-weight: 500;
}
#ason{
    color: gray;
    display: block;
    padding-top: 4em;
    font-size: 1rem;
}
#date{
    font-weight: 500;
    font-size: 2rem;
    display: inline-block;
    margin-left: 50%;
    color: #6b778d;
}
.border{
    border: 6px solid #9b45e4;
    border-left: 0;
    border-radius: 0 20px 20px 0;
    width: 70%;
    display: flex;
}
 #tested, #positive{
    padding: 5px;
    width: 50%;
    height: 350px;
}
#tested{
    margin: 10px 0 10px 10px;  
    border: 4px solid #00bdaa; 
    border-right: 0;
    border-radius: 20px 0 0 20px; 
}
#positive{
    margin: 10px 10px 10px 0;
    border: 4px solid #ffa34d;
    border-radius: 0 20px 20px 0;
    border-left: 0;
}
.lineCharts{
    display: flex;
    flex-wrap: wrap;
}

#deceased, #cases, #recoveredChart{
    border-radius: 20px;
    margin: 0 auto;
    padding: 10px;
    width: 30%;
    height: 400px;
}
#deceased{
    border: 4px solid tomato;
}
#cases{
    border: 4px solid steelblue;
}
#recoveredChart{
    border: 4px solid greenyellow;
}


#total{
    border: 4px solid yellow;
}
#active{
    border: 4px solid red;
}
#recovered{
    border: 4px solid yellowgreen;
}
#deaths{
    border: 4px solid black;
}
#totalHead{
    color: yellow;
}
#activeHead{
    color: red;
}
#recoveredHead{
    color: greenyellow;
}
#deathsHead{
    color: black;
}

#total:hover{
     transform: translate(5px,5px);
     box-shadow: -5px -5px 5px black;
     color: yellow;
     text-shadow: 0px 0px 1px black;
     text-shadow: -1px 0px 1px black;
     text-shadow: 1px 0px 1px black;
     text-shadow: 0px -1px 1px black;
     text-shadow: 0px 1px 1px black;

}
#active:hover{
     transform: translate(5px,5px);
     box-shadow: -5px -5px 5px black;
     color: red;
     text-shadow: 0px 0px 1px black;
     text-shadow: -1px 0px 1px black;
     text-shadow: 1px 0px 1px black;
     text-shadow: 0px -1px 1px black;
     text-shadow: 0px 1px 1px black;
}
#recovered:hover{
     transform: translate(5px,5px);
     box-shadow: -5px -5px 5px black;
     color: greenyellow;
     text-shadow: 0px 0px 1px black;
     text-shadow: -1px 0px 1px black;
     text-shadow: 1px 0px 1px black;
     text-shadow: 0px -1px 1px black;
     text-shadow: 0px 1px 1px black;
}
#deaths:hover{
     transform: translate(5px,5px);
     box-shadow: -5px -5px 5px black;
     color: darkgray;
     text-shadow: 0px 0px 1px black;
     text-shadow: -1px 0px 1px black;
     text-shadow: 1px 0px 1px black;
     text-shadow: 0px -1px 1px black;
     text-shadow: 0px 1px 1px black;
}

@media (max-width : 1000px)
{
    h1{
        margin-bottom: 20px;
        margin-top: 0;
        height: 100px;
        font-size: 2em;
        font-weight: bolder;
        letter-spacing: 2px;
        text-shadow: 2px 2px 8px black;
        padding-top: 30px;
        color: rgb(255, 65, 31);
        background: url(./pattern.png);
    
    
    }
    table{
        font-size: 1.5em;
        text-align: center;
        margin: auto;
        width: 60%;
        height: 200px;
    
    }
    
    #deaths, #recovered, #active, #total{
        display: inline-block;
        padding-top: 20px;
        width: 100px;
        height: 70px;
        border: 2px solid red;
        border-radius: 10px;
    }
    h2{
        text-align: center;
        margin: 0 10px;
        line-height: 1.2em;
        padding: 0;
        border:2px solid #b2ebf2;
        color: #dd2c00;
    }

}